<template>
    <div style="height: 73px" @click="render"></div>
</template>

<script>
    import dark from "../plugins/dark";

    export default {
        mixins: [dark],
        props: {
            value: {},
        },
        async mounted() {
            if (!process.client) { return; }
            await this.$loadScript('turnstile', `https://challenges.cloudflare.com/turnstile/v0/api.js?render=explicit&hl=${this.config.locale}`);
            setTimeout(() => { this.render() }, 500);
        },
        methods: {
            render() {
                if (!window.turnstile || this.$el.innerHTML.length) { return; }
                window.turnstile.render(this.$el, {
                    sitekey: process.env.TURNSTILE_SITEKEY,
                    theme: this.detectDark() ? 'dark' : 'light',
                    language: this.config.locale,
                    callback: this.solved,
                });
            },
            solved(token) {
                this.$emit('input', token);
            },
        }
    }
</script>
